* { font-family: "Ubuntu" }


body {
}
.nav {
	z-index: 5000;
}


.navbar-brand {
	font-weight: 700;
	font-size: 50px;
	line-height: 12.5px;
    cursor: pointer;
}

.math-dragon-logo {
	color: #44f;
}

.math-dragon-logo .thin {
	color: #000;
	font-weight: 400;
}
.math-dragon-logo .it {
	color: #888;
	font-style: italic;
	font-weight: 400;
}

.infty-logo {
	padding-left: 50px;
}
.navbar {
	margin-bottom: 0px;
}


.header {
	color: white;
	text-shadow: black 1px 1px 1px;
}

.naarbenee{
	position: absolute;
	bottom: 0;
	left: 15px;
	right: 15px;
}


.product {
	color:black;
	background-color: white;

}

.product-item {
	text-align: center;
	margin-bottom: 10px;
}
.product-item p {
	text-align: justify;
}
.product-icon {
	border: 3px solid black;
	border-radius: 50%;
	font-size: 36px;
}


@media (max-width: 990px ) {
	.phone {
		display: none;
	}
}

.feature {
	padding-top: 100px;
}

.pad:nth-child(odd) {
	color: white;
	background-color: #3E606F;
}
.pad:nth-child(even) {
	color: black;
	background-color: white;
}

.phone {

	width: 100%;
}

.about {
	margin-top: 50px;
}
.hidden {
	display: none;
}
.foldout {
	position: absolute;
	left: 15px;
	right: 15px;
	background-color: purple;
	z-index: 1000;
	color: white;
	background-color: #3E606F;
	box-shadow: 0px 5px 20px #10191d inset;
	padding: 0;
}

.foldout .container {
	padding: 20px;
}

.upper {
	margin: 0;
	padding: 0;
}
.about-item {
	margin-bottom: 0;
}

.driehoek {
	background-color: white;
	height: 0;
	width: 0;
	border-left: 20px solid transparent;  /* left arrow slant */
	border-right: 20px solid transparent; /* right arrow slant */
	border-bottom: 20px solid #2f2f2f; /* bottom, add background color here */
	font-size: 0;
	line-height: 0;
	margin-right: 100%;
	margin-left: 300px;
}

.lower {
	padding-top: 0px;
}

.img {
	positon: absolute;
	bottom: 0;
}

.feature {

	background-size: 400px;
	background-repeat: no-repeat;

	padding-bottom: 50px;
}


.feature p {
		text-align: justify;
}
.feature.right {
	background-position: 80% 0%;
}

.feature.left {
	background-position: 20% 0%;
}

.feature-1 {
	background-image: url('../img/demo-imp_nexus4_angle1.png');
}
.feature-2 {
	background-image: url('../img/drag_nexus4_portrait.png');
	padding-bottom: 200px;
}

.feature-3 {
	background-image: url('../img/kb-port_nexus4_portrait.png');
	padding-bottom: 200px;
}

.feature-4{
	background-image: url('../img/angle-2.png');
}

@media (max-width: 990px) {
	.feature {
		background-image: none;
	}
	.tussenstuk, .callout {
		height: 80px;
	}
	.feature-1 {
		padding-bottom: 10px;
	}
	.feature-3 {
		padding-bottom: 10px;
	}
}

.arrows {
	padding-top: 30px;
}


section.pad {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: justify;
}

.foldout {
	height: 200px;
}